extends blocks/layout

include blocks/main
include blocks/title
include blocks/wrapper
include blocks/card
include blocks/weight
include blocks/offer

block head
	- var pageTitle = 'Funbox';
block content
	+main
		+title
			|	Ты сегодня покормил кота?
		.wrapper
			- var cards = [{subtitle: 'с фуа-гра', desc: '<b>10</b> порций<br>мышь в подарок', count: '0,5', mesure: '<br>кг', selected: 'Печень утки разварная с артишоками.', disabled: 'Печалька, с фуа-гра закончился.'}, {subtitle: 'с рыбой', desc: '<b>40</b> порций<br><b>2</b> мыши в подарок', count: '2', mesure: '<br>кг', selected: 'Головы щучьи с чесноком да свежайшая сёмгушка.', disabled: 'Печалька, с рыбой закончился.'}, {subtitle: 'с курой', desc: '<b>100</b> порций<br><b>5</b> мышей в подарок<br>заказчик доволен', count: '5', mesure: '<br>кг', selected: 'Филе из цыплят с трюфелями в бульоне.', disabled: 'Печалька, с курой закончился.'}]
			each card, index in cards
				+cardWrapper
					if index !== 2
						+card(card.subtitle, card.desc)
							+weight(card.count, card.mesure)
						+offer(card.selected, card.disabled)
					else
						+card(card.subtitle, card.desc).deactive
							+weight(card.count, card.mesure)
						+offer(card.selected, card.disabled)